
*{
    margin: 0;
    padding: 0px;
    border: 0;
}
html, body{
    height: 100%;
    /*background-image: url('http://127.0.0.1:8000/images/D4_20160625_6309-EFd.jpg')*/
    background-color: black;
    /* padding: 20px; */
}
h1,h2,h3,h4,h5,h6, p{
    margin-bottom: 20px;
}

navbar {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}
/* Main Section ********************************************/
.sect{
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    /*background-color:(0, 0, 0, 0.1) */
}

.subSection {
    height: 50%;
    background-color: bisque;
}
/* About Me Section ************ About Me Section ********* About Me Section ***********************************/
.aboutMe{
    background-image: 
    linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.6)),    
    url("/images/markus-spiske-109588.jpg");
    color: white;

}
.flexcontainer{
    padding-top: 200px; /*move the content downward*/
	display:flex;
	margin: 1em 0;
	border: 1px solid #333;
	/*width: 100%;*/
    flex-flow: column;

}
.headshot{
    text-align: center
}
.headshot img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    	

}

.abouttext{
    padding: 20px;
    font-size: 32px;
    text-align: center;
    margin: 0 0;
    /*display: flex;*/
    justify-content: center;
    /* border: 1px solid #fff; */
}
.aboutarrow{
    text-align: center;
    border: 1px solid #fff;

}

/* resume****************  resume**************** resume****************/
.resume{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),    
    url("/images/resume copy.jpg");    
    font-size: 24px;
    color: white;
}

.covertext{
    display: flex;
    flex-flow: column;
    color: white;
}

.covertext1{
    flex: 8;
}
.covertext2{
    flex: 3;
}

/* Education ************** Education ************** Education ************** Education ************** Education ************** Tutorials ************** Tutorials **************/
.tutorials{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),    
    url("/images/library copy.jpg");
    /*opacity: .2;*/


}
.text{
    /* color: black; */
}


/* Porfolio ************** Porfolio ************** Porfolio ************** Porfolio **************/
.portfolio{
    
    background-image: 
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),    
    url("/images/flowchart copy.png");
    color: white;
}


/* Contact Me************* Contact Me************* Contact Me************* Contact Me*************/
.contactMe{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),    
    url('/images/motorcycle.jpg');
}


.thumbnail{        
    /*width: 300px; */
    /*or you could use percentage values for responsive layout */
    width : 250px;
    height: 350px;
    overflow: auto;
}

.thumbnail img{
    /*your styles for the image*/
    width: 80%;
    height: 200px;
    display: block;
}

.contact{
    background-color: lightgrey;
}