
*{
    margin: 0;
    padding: 0px;
    border: 0;
}
html, body{
    height: 100%;
    /*background-image: url('http://127.0.0.1:8000/images/D4_20160625_6309-EFd.jpg')*/
}
h1,h2,h3,h4,h5,h6, p{
    margin-bottom: 20px;
}

navbar {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}

.sect{
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    /*background-color:(0, 0, 0, 0.1) */
}

.subSection {
    height: 50%;
    background-color: bisque;
}

.aboutMe{
    background-image: url("/images/markus-spiske2.jpg");
    /*background-image: url('http://127.0.0.1:8000/images/D4_20160625_6309-EFd.jpg');*/
    color: white;

}
.flexcontainer{
    padding-top: 300px;
	display:flex;
	margin: 1em 0;
	border: 1px solid #333;
	/*width: 100%;*/
    flex-flow: column;

}
.headshot{
    text-align: center
}
.headshot img{
    size: 150px 150px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    	

}

.abouttext{
    padding: 20px;
    font-size: 32px;
    text-align: center;
    margin: 0 0;
    /*display: flex;*/
    justify-content: center;
    border: 1px solid #fff;
}
.aboutarrow{
    /*text-align: center;*/
    justify-content: center;
    border: 1px solid #fff;

}


.resume{
    background-image: url("/images/resume copy.jpg");    
    font-size: 24px;
}

.covertext{
    display: flex;
    flex-flow: column;
}

.covertext1{
    flex: 8;
}
.covertext2{
    flex: 3;
}
.tutorials{
    background-image: url("/images/drums copy.jpg");
    /*opacity: .2;*/


}

.text{
    color: black;
}
/*.overlay{
    background: rgba(255,255,255,.92)
}*/

.portfolio{
    
    background-image: url("/images/office.jpg");


}

/*.portfolio:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}*/


.contactMe{
    background-image: url('/images/motorcycle.jpg');
}

.bgimg-inner{
    padding-top: 10%;
    padding-bottom: 10%;
}

.portfolio{
    color: white;
}

.thumbnail{        
    /*width: 300px; */
    /*or you could use percentage values for responsive layout */
    width : 250px;
    height: 350px;
    overflow: auto;
}

.thumbnail img{
    /*your styles for the image*/
    width: 80%;
    height: 200px;
    display: block;
}